/* General reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 90vw; 
  height: 90vh; 
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

.income-input {
  margin-bottom: 2rem;
}

.income-input label {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.income-input input {
  font-size: 1.2rem;
  padding: 0.2rem;
  width: 150px;
  text-align: center;
}

.pie-chart {
  width: 40%;
}
.pie-chart h2 {
  margin-bottom: 1rem;
}

